.header {
    background: white;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.title {
    margin-right: 20px;
    margin-left: 40px;
}

img {
    border-radius: 100%;
    height: 100px;
    padding: 20px;
    margin-left: 130px;
}

button {
    background: #1C3450;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20;
}

body {
    background: #8A8A8A;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.boys {
    display: flex;
    padding: 30px;
}