.header {
    background: white;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

h1 {
    padding: 10px;
    color: #1C3450;
}

.title {
    margin-right: 20px;
    margin-left: 40px;
}

.logo {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    padding: 20px;
    margin-left: 130px;
}

button {
    background: #1C3450;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20;
    cursor: pointer;
}

body {
    background: #CFCFCF;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.linkButton {
    text-decoration: none;
    color: inherit;
}

.boys {
    display: flex;
}

img {
    width: 350px;
}

.christian {
    margin-left: 100px;
}

.ashton {
    margin-left: 100px;
}

.jeremy {
    margin-left: 100px;
}

.example {
    margin: 20px;
}

.exampleBefore {
    background-color: #9b9b9b;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.before {
    height: 500px;
    width: 450px;
    padding: 4px;
}

footer {
    background: white;
    padding: 30px;
}

.pricing {
    width: 550px;
    border: 3px white solid;
}

.connect {
    display: flex;
    margin-left: 450px;
}

.phone {
    height: 200px;
    width: 200px;
}

.insta {
    margin-top: 15px;
    height: 170px;
    width: 230px;
    margin-bottom: 12px;
    margin-left: 120px;
    cursor: pointer;
}

.instaHandle {
    margin-left: 120px;
}