.header {
    background: white;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.title {
    margin-right: 20px;
    margin-left: 40px;
}

.logo {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    padding: 20px;
    margin-left: 130px;
}

button {
    background: #1C3450;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20;
    cursor: pointer;
}

body {
    background: #8A8A8A;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.linkButton {
    text-decoration: none;
    color: inherit;
}

.boys {
    display: flex;
}

img {
    width: 350px;
}

.christian {
    margin-left: 160px;
}

.ashton {
    margin-left: 100px;
}

.jeremy {
    margin-left: 100px;
}

.exampleAfter {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.after {
    height: 500px;
    width: 450px;
    padding: 10px;
}

.after2 {
    height: 500px;
    width: 550px;
    padding: 10px; 
}

.exampleBefore {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.before {
    height: 500px;
    width: 450px;
    padding: 10px;
}

.before2 {
    height: 500px;
    width: 430px; 
    padding: 10px;
}